<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>external-accessory</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.apple.m1</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>RadioCar needs Bluetooth access to automatically start playing when you connect your car audio system.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>RadioCar uses Bluetooth to detect when you connect to your car and automatically start playing.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RadioCar needs your location to display your current speed and location while driving.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>RadioCar needs your location to display your current speed and location while driving.</string>
</dict>
</plist>
